PrzychodniaUnitTest/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/PrzychodniaDLL" />
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PobierzLekarzy">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PobierzLekarzyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PrzychodniaDLL" minOccurs="0" name="PobierzLekarzyResult" nillable="true" type="q1:ArrayOfLekarz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajLekarza">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PrzychodniaDLL" minOccurs="0" name="lekarz" nillable="true" type="q2:Lekarz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajLekarzaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PrzychodniaDLL" minOccurs="0" name="DodajLekarzaResult" nillable="true" type="q3:Lekarz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsunLekarza">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsunLekarzaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UsunLekarzaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PobierzPacjentow">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PobierzPacjentowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PrzychodniaDLL" minOccurs="0" name="PobierzPacjentowResult" nillable="true" type="q4:ArrayOfPacjent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajPacjenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PrzychodniaDLL" minOccurs="0" name="pacjent" nillable="true" type="q5:Pacjent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajPacjentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PrzychodniaDLL" minOccurs="0" name="DodajPacjentaResult" nillable="true" type="q6:Pacjent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsunPacjenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsunPacjentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UsunPacjentaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PobierzChoroby">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PobierzChorobyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PrzychodniaDLL" minOccurs="0" name="PobierzChorobyResult" nillable="true" type="q7:ArrayOfChoroba" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajChorobe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PrzychodniaDLL" minOccurs="0" name="choroba" nillable="true" type="q8:Choroba" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajChorobeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PrzychodniaDLL" minOccurs="0" name="DodajChorobeResult" nillable="true" type="q9:Choroba" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsunChorobe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsunChorobeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UsunChorobeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PobierzLeki">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PobierzLekiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PrzychodniaDLL" minOccurs="0" name="PobierzLekiResult" nillable="true" type="q10:ArrayOfLek" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajLek">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PrzychodniaDLL" minOccurs="0" name="lek" nillable="true" type="q11:Lek" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajLekResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PrzychodniaDLL" minOccurs="0" name="DodajLekResult" nillable="true" type="q12:Lek" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsunLek">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsunLekResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UsunLekResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PobierzGrafik">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PobierzGrafikResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PrzychodniaDLL" minOccurs="0" name="PobierzGrafikResult" nillable="true" type="q13:ArrayOfGrafik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajGrafik">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PrzychodniaDLL" minOccurs="0" name="grafik" nillable="true" type="q14:Grafik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajGrafikResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/PrzychodniaDLL" minOccurs="0" name="DodajGrafikResult" nillable="true" type="q15:Grafik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsunGrafik">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsunGrafikResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UsunGrafikResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>